<!-- Filename: default.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
</head>
<body>

    <div class="container">
      {{{body}}}
    </div>
    <script src="/static/js/dist/bundle.js"></script>
</body>
</html>